* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto',sans-serif;
    font-weight: 600;
    font-size: 15px;
}

#chat {
    width: 100%;
    border: 1px solid black;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: scroll;
    height: 240px;
}

form {
    background: #000;
    padding: 3px;
    bottom: 0;
    width: 100%;
}

.results{
    height: 20px;
}

.text_group{
    padding: 20px 100px 5px 100px;
    text-align: center;
}

.form-control{
    min-width: 1100px;
    max-width: 1100px;
    min-height: 100px;
}
.btn_group{
    text-align: right;
    padding-right: 100px;
    padding-bottom: 10px;
}

#m{
    border: 1px solid black;
    background-color: lightgray;
}

.btn_send{
    border: 1px solid black;
    padding: 4px;
    margin-top: 7px;
    width: 100px;
    background-color: cornflowerblue;
}

#messages li {
    padding: 5px 10px;
}

#messages li:nth-child(odd) {
    background: #eee;
}

#results {
    border: 1px solid black;
    overflow: scroll;
}

#messages li.server-msg {
    background: #e0f0ad;
}

#messages li:nth-child(odd).server-msg {
    background: #d2df9c;
}

#messages li.server-result-msg {
    background: #9dd9f7;
}

#messages li:nth-child(odd).server-result-msg {
    background: #8cc8e6;
}